src/main/mule/batchstepproc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<flow name="batchstepprocFlow" doc:id="21152d9a-d4d3-4647-ad95-2a4c3ad22408" >
		<http:listener doc:name="Listener" doc:id="07177171-1ffe-4ba0-900d-d4a882c95f49" config-ref="HTTP_Listener_config" path="/test"/>
		<set-variable value="1" doc:name="Set Variable" doc:id="6ae3da11-560a-4334-b553-fcf1b393310c" variableName="counter"/>
		<set-payload value="#[[1,2,3]]" doc:name="Set Payload" doc:id="930befe1-f827-4667-8222-3f64b7723039" />
		<batch:job jobName="batchstepprocBatch_Job" doc:id="1335e62d-e8a6-4e6e-be14-b21ad062025e" >
			<batch:process-records >
				<batch:step name="Batch_Step1" doc:id="22ec3d8c-ec92-4051-881d-c3d38c033d2f" >
					<set-variable value="#[payload]" doc:name="Set Variable" doc:id="552b3108-d048-4d6d-a5fb-39c51e7cb574" variableName="batchStepPayload"/>
					<logger level="INFO" doc:name="Logger" doc:id="86f81bad-ae20-48cd-8246-9948ea890a09" message="---Step1----#[payload]"/>
				</batch:step>
				<batch:step name="Batch_Step" doc:id="eadea682-1ed1-414b-b78e-77c5a7c918aa" >
					<logger level="INFO" doc:name="Logger" doc:id="1d6aebf0-c531-4b56-b4ac-ac7001ff5c0d" message="---in process records #[vars.batchStepPayload]"/>
					<set-variable value="#[vars.counter ++ 10]" doc:name="Set Variable" doc:id="4b7eb6ee-14be-4aaa-88f9-f4a438c1f391" variableName="counter"/>
					<set-variable value="#[vars.counter]" doc:name="Set Variable" doc:id="fc1f57ec-af6c-49ec-a48a-4167bc3d3d1b" variableName="stepVar"/>
				</batch:step>
			</batch:process-records>
		</batch:job>
		<logger level="INFO" doc:name="Logger" doc:id="723963ad-d2b6-4f68-89a3-d86ee94ecd2b" message="---on complete #[vars.counter] ---#[vars.stepVar]" />
	</flow>
</mule>
